 <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://loremflickr.com/1400/600/london);">
  <div class="container">
    <h1><%= @flat.name %></h1>
    <p><%= @flat.address %></p>
  </div>
</div>

 <div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="info-box my-3 p-3">
       <h4>Flat Description</h4>
       <p><%= @flat.description %></p>
      </div>
      <div class="info-box my-3 p-3">
        <h4>Details</h4>
        <p>$<%= @flat.price_per_night %> per night</p>
        <p><i class="fas fa-user-friends"></i> <%= @flat.number_of_guests %></p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="info-box my-3 p-3">
        <h4>Book now!</h4>
        <form>
          <div class="form-group">
            <label for="formGroupExampleInput">From</label>
            <input type="date" class="form-control" id="formGroupExampleInput" placeholder="From">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">To</label>
            <input type="date" class="form-control" id="formGroupExampleInput2" placeholder="to">
            <input type="submit" class="btn btn-danger mt-2 btn-block">
          </div>
        </form>
      </div>
    </div>
  </div>
 </div>

