<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand">Simple Airbnb</a>
      <form class="form-inline">
        <%= link_to flats_path do %>
          <button class="btn btn-outline-success my-2 my-sm-0">Home</button>
        <% end %>
        <%= link_to new_flat_path do %>
          <button class="btn btn-outline-success ml-2 my-2 my-sm-0">Add a flat</button>
        <% end %>
      </form>
    </nav>
    <%= yield %>
  </body>
</html>







